.DS_Store
zlinks.sh
*.out
__pycache__
*.glb
*.xlsx
*.sql
*.png
*.svg
*.pdf
*.flat
*.tsv
*.Rhistory
*.Rda
*.sql-journal
*.pickle
*.fasta
*.fa.*
*.fa
*.h5ad
*.idx
*.results.txt
abundance.tsv
PT*.tsv.gz
PT*.txt
ends.gtf
ss.*
version*.txt
all_masked_peptides.*
# Specifics, these are mostly very large data set files that can ge generated and so don't need to be committed
cell_cycle.csv
cell_data.csv
hg38_rmsk.txt.gz
#raw_data/
hipsci*.txt.gz
tblout.*
get_data.sh
get_gtf.sh
current_gtf.gtf
gencode.v30.annotation.gtf.gz
gencode.v32.annotation.gtf
gencode.v32.annotation.gtf.gz
gencode.v32.pc_transcripts.fa.gz
gencode.v32.pc_translations.fa.gz
assembly_hPSC_FEELnc.txt
transcripts.fa.gz
